<div class="mat-elevation-z8">

    <div style="display:flex;padding-top:50px;">
      <div style="display:flex;align-items: center;">
        <div style="display: flex;flex-direction:column">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>AWB Prefix</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Origin</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>ID</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>AWB Serial</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Destination</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Agent</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
          </div>
        </div>
        <div style="margin-left:30px;">
          <button mat-raised-button color="primary">Search</button>
        </div>
      </div>
      <div style="margin-left:auto;display:flex;flex-direction:column;">
        <mat-form-field appearance="outline">
          <mat-label>Handler ID</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
        <button mat-raised-button color="primary">Check Rates</button>
      </div>
    </div>
    <br>
    <div style="display: flex;">
      <div style="margin-left:auto;cursor:pointer;    display: flex;
      align-items: center;
      padding: 20px 0;
      font-size: 13px;">Download <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="download"></mat-icon>
      </div></div>
    <div class="data">
    <table mat-table [dataSource]="dataSource" matSort #empTbSort="matSort">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="AWB_prefix">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> AWB Prefix </th>
        <td mat-cell *matCellDef="let element"> {{element.AWB_prefix}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="isMaster">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Master </th>
        <td mat-cell *matCellDef="let element"> {{element.isMaster}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="AWB_ServiceType">
        <th mat-header-cell *matHeaderCellDef > AWB Service type </th>
        <td mat-cell *matCellDef="let element"> {{element.AWB_ServiceType}} </td>
      </ng-container>

      <ng-container matColumnDef="AWB_Serial">
        <th mat-header-cell *matHeaderCellDef > AWB Serial </th>
        <td mat-cell *matCellDef="let element"> {{element.AWB_Serial}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="issueCarrier">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Issue Carrier </th>
        <td mat-cell *matCellDef="let element"> {{element.issueCarrier}} </td>
      </ng-container>

      <ng-container matColumnDef="origin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Origin </th>
        <td mat-cell *matCellDef="let element"> {{element.origin}} </td>
      </ng-container>

      <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
        <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="agent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Agent </th>
        <td mat-cell *matCellDef="let element"> {{element.agent}} </td>
      </ng-container>

      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Area </th>
        <td mat-cell *matCellDef="let element"> {{element.area}} </td>
      </ng-container>

      <ng-container matColumnDef="totalWeight">
        <th mat-header-cell *matHeaderCellDef >Total Weight</th>
        <td mat-cell *matCellDef="let element"> {{element.totalWeight}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="totalChargableWeight">
        <th mat-header-cell *matHeaderCellDef > Total Chargable Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.totalChargableWeight}} </td>
      </ng-container>

      <ng-container matColumnDef="totalVolume">
        <th mat-header-cell *matHeaderCellDef > Total Volume </th>
        <td mat-cell *matCellDef="let element"> {{element.totalVolume}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   hidePageSize="true"
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
