.example-container {
    width: inherit;
    height: 100vh;
    overflow-y: auto;
  }
  .mat-drawer-content{
    overflow-x: hidden;
    margin-left:180px!important;
  }
  .mat-drawer{
    width:180px;
  }
  ::ng-deep .mat-mdc-form-field{
    margin-right:10px;
  }
  ::ng-deep .mat-mdc-text-field-wrapper{
    height:45px!important;
  }
  ::ng-deep .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label{
    top: 22px !important;;
  }
  ::ng-deep .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label.mdc-floating-label--float-above{
    top:28px!important;
  }
  .mat-mdc-list-item{
    height: 30px!important;
    padding-left: 25px;
    cursor: pointer!important;
  }
  ::ng-deep .mdc-data-table__header-cell{
    white-space: nowrap;
  }
  ::ng-deep .mat-elevation-z8{
    box-shadow:none!important;
    padding:15px;
  }
  .img-dim{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .sidebar-title{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }

  table {
    width: 100%;
    font-size: 5px;
    padding: 0.75em 0.75em 0 0.75em;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }


