<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <p><img src="/assets/img/CHAMP-Logo.png" alt="image" class="img-dim"></p>
    <h3 class="sidebar-title">Booking</h3>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>
          <a mat-list-item [routerLink]="['search']">Search</a>
        </span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>
        <a mat-list-item [routerLink]="['create']">Create</a>
        </span>
      </mat-list-item>
    </mat-list>
    
  </mat-drawer>
  
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
 
</mat-drawer-container>